h2 You have #{pluralize(workflows.length, 'workflow')}.

if workflows.length > 0
  table.table.table-bordered.table-striped
    thead
      tr
        th Name
        th Schedule
        th Last Run
        th Last Status
        th
    tbody
      each workflow in workflows
        tr('data-workflow'=workflow.id)
          td
            a(href="/workflows/#{workflow._id}")= workflow.name
          td.formatted(class=!workflow.enabled && 'disabled')= workflow.schedule
          td= workflow.lastRanAt && workflow.lastRanAt.toString('M/dd/yyyy h:mm:ss tt')
          td
            != statusIcon(workflow.lastStatus)
            | 
            = workflow.lastStatus
          td.actions
            a(href="/workflows/#{workflow._id}/edit")
              i(class='icon-pencil')
            a(href="/workflows/#{workflow._id}", 'data-method'='delete', 'data-confirm'='Are you sure?')
              i(class='icon-remove')

p
  a.btn(href='/workflows/new')
    i.icon-asterisk
    |  New Workflow
