extends ../layout

block content
  h2
    = workflow.name
    |  Workflow

  table.table.table-bordered
    tbody
      tr
        th Schedule
        td.formatted(class=!workflow.enabled && 'disabled')= workflow.schedule
      tr
        th Worker Name
        td= workflow.workerName
      tr
        th Last Run
        td= workflow.lastRanAt && workflow.lastRanAt.toString('M/dd/yyyy h:mm:ss tt')
      tr
        th Last Status
        td
          != statusIcon(workflow.lastStatus)
          | 
          = workflow.lastStatus

  .form-actions
    a.btn(href="/workflows/#{workflow._id}/edit")
      i.icon-pencil
      |  Edit
    .right
      a.btn(href="/workflows/#{workflow._id}/jobs", 'data-method'='post')
        i.icon-cog
        |  Run Now

  h3 Jobs

  table.table.table-bordered.table-striped
    thead
      tr
        th ID
        th Ran
        th Status
    tbody
      for job in jobs
        tr
          th
            a(href="/jobs/#{job._id}")= job.id
          th= job.ranAt && job.ranAt.toString('M/dd/yyyy h:mm:ss tt')
          td
            != statusIcon(job.status)
            | 
            = job.status

  p
    | page:
    != paginator.pageLinks()
