extends ../layout

block content
  h2
    = job.name
    |  Job

  table.table.table-bordered
    tbody
      tr
        th Workflow
        td
          a(href="/workflows/#{job.workflowId}")= job.workflowId
          |  
          a(href="/workflows/#{job.workflowId}/edit")
            i.icon-pencil
      tr
        th Definition
        td.formatted= job.definition
      tr
        th Status
        td
          != statusIcon(job.status)
          | 
          = job.status
      tr
        th Output
        td.formatted= job.output
      tr
        th Created
        td= job.createdAt.toString('M/dd/yyyy h:mm:ss tt')
      tr
        th Ran
        td= job.ranAt && job.ranAt.toString('M/dd/yyyy h:mm:ss tt')
