extends ../layout

block content
  h2
    = job.name
    |  Job

  table.table.table-bordered
    tbody
      tr
        th Schedule
        td.formatted(class=!job.enabled && 'disabled')= job.schedule
      tr
        th Worker Name
        td= job.workerName
      tr
        th Last Run
        td= job.lastRanAt && job.lastRanAt.toString('M/dd/yyyy h:mm:ss tt')
      tr
        th Last Status
        td
          != statusIcon(job.lastStatus)
          | 
          = job.lastStatus

  .form-actions
    a.btn(href="/jobs/#{job._id}/edit")
      i.icon-pencil
      |  Edit
    .right
      a.btn(href="/jobs/#{job._id}/runs", 'data-method'='post')
        i.icon-cog
        |  Run Now

  h3 History

  table.table.table-bordered.table-striped
    thead
      tr
        th ID
        th Ran
        th Status
    tbody
      for run in runs
        tr
          th
            a(href="/runs/#{run._id}")= run.id
          th= run.ranAt && run.ranAt.toString('M/dd/yyyy h:mm:ss tt')
          td
            != statusIcon(run.status)
            | 
            = run.status

  p
    | page:
    != paginator.pageLinks()
