extends ../layout

block content
  h2= job.name

  table.table.table-bordered
    tbody
      tr
        th Schedule
        td.formatted(class=!job.enabled && 'disabled')= job.schedule
      tr
        th Worker Name
        td= job.workerName
      tr
        th Last Run
        td= job.lastRanAt && job.lastRanAt.toString('M/dd/yyyy h:mm:ss tt')
      tr
        th Last Status
        td
          != statusIcon(job.lastStatus)
          | 
          = job.lastStatus

  .form-actions
    a.btn(href="/jobs/#{job._id}/edit")
      i.icon-pencil
      |  Edit
    .right
      a.btn(href="/jobs/#{job._id}/runs", 'data-method'='post')
        i.icon-cog
        |  Run Now

  h3 History

  table.table.table-bordered.table-striped#job-history-table
    thead
      tr
        th ID
        th Started
        th Completed
        th Status
    tbody
      for run in runs
        tr('data-run-meta'=run._id)
          td
            a(href="/runs/#{run._id}")= run.id
          td.ran-at= run.ranAt && run.ranAt.toString('M/dd/yyyy h:mm:ss tt')
          td.completed-at= run.completedAt && run.completedAt.toString('M/dd/yyyy h:mm:ss tt')
          td.status
            != statusIcon(run.status)
            | 
            = run.status
        tr
          td.formatted(colspan=4, 'data-run-output'=run._id)
            != escapeAndLink(run.output)

  p!= paginator.pageLinks()

  :coffeescript
    watchJobChanges '#{job._id}'
