tr(id="job-#{job.id}", class=!job.enabled && 'disabled')
  td
    a(href="/jobs/#{job._id}")= job.name
  td.formatted= job.schedule
  td= job.hooks
  td= job.lastRanAt && job.lastRanAt.toString('M/dd/yyyy h:mm:ss tt')
  td
    != statusIcon(job.lastStatus)
    | 
    = job.lastStatus
  td.actions
    a(href="/jobs/#{job._id}/edit")
      i(class='icon-pencil')
