extends ../layout

block content
  h2= queue

  table.table.table-bordered.table-striped
    thead
      tr
        th ID
        th Status
        th Data
        th Created
    tbody
      for entry in entries
        tr
          td= entry._id
          td= entry.status
          td= entry.data && JSON.stringify(entry.data)
          td= entry.createdAt && entry.createdAt.toString('M/dd/yyyy h:mm:ss tt')

  p
    | page:
    != paginator.pageLinks()
